.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}



// La grille sur l'index de notre homepage
.cards-new-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  grid-auto-rows: auto;

}

// La carte de la mouette sur les grilles
.card-poterie{
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height: 500px;
  // padding: 1px;
  // border-radius: 10px;
}


.card-footer {
  position: relative;
}

.card-footer text {
  position: absolute;
  bottom: 0;
  left: 0;
}


// Le body de la card
// .card-body{
//   display: flex;
//   flex-direction: column;
// }


// Afin de définir le ratio de l'image
.card-img-top{
  width: 300px;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.card{
  border: none;
}
